extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
  +alert-error(3000)
  +alert-success(3000)
  h3(class='m-3') Chi tiết sản phẩm
  .row 
    .col-8.pl-5
      if(product.title) 
        p Tiêu đề: 
          b 
            span=product.title
      if(product.description) 
        p Mô tả: 
          b 
            span=product.description
      if(product.price) 
        p Giá: 
          b 
            span="$" + product.price
      if(product.discountPercentage) 
        p % Giảm giá: 
          b 
            span=product.discountPercentage
      if(product.stock) 
        p Tồn kho: 
          b 
            span=product.stock
      if(product.thumbnail) 
        p Ảnh: 
        img(src=product.thumbnail, alt=product.title img-preview class='img-thumbnail')
      if(product.status) 
        p Trạng thái: 
          a(
            href='javascript:;'
            class=`badge ${product.status === "active" ? "badge-success" : "badge-danger"}`
            ) #{product.status === "active" ? "Hoạt động" : "Dừng hoạt động"}

      if(product.position) 
        p Vị trí: 
          b 
            span=product.position
      a(
        href= `${prefixAdmin}/products/edit/${product.id}`
        class='btn btn-warning'
      ) Chỉnh sửa
  script(src="/admin/js/product.js") 


