extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
  +alert-error(3000)
  +alert-success(3000)
  h3(class='m-3')=pageTitle
  .row 
    .col-8 
      form(
        action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
        id="form-edit-product"
        method="POST"
        class='m-5'
        enctype="multipart/form-data"
      )
        label(for="title") Tiêu đề 
        input(type="text" id='title' name='title' class='form-control' value=product.title)
        label(for="description") Mô tả
        textarea(name="description" id='description' class='form-control' rows='6')=value=product.description
        label(for="price") Giá
        input(type = 'number' name="price" id='price' class='form-control' value=product.price)
        label(for="discountPercentage") % Giảm giá
        input(type = 'number' name="discountPercentage" id='discountPercentage' class='form-control' value=product.discountPercentage)
        label(for="stock") Tồn kho
        input(type = 'number' name="stock" id='stock' class='form-control' value=product.stock)
        label(for="thumbnail") Hình ảnh
        input(type = 'file' name="thumbnail" id='thumbnail' class='form-control-file' accept='image/*' input-upload-image)
        img(src=product.thumbnail, alt="" img-preview class='img-thumbnail')
        br
        label(for="status") Trạng thái
        .form-check
          input#active.form-check-input(type='radio' name='status' value='active' checked=(product.status === 'active'))
          | Hoạt động
          label.form-check-label(for='active')
        .form-check
          input#inactive.form-check-input(type='radio' name='status' value='inactive' checked=(product.status === 'inactive'))
          | Dừng hoạt động
          label.form-check-label(for='inactive')
        label(for="position") Vị trí
        input(type = 'number' name="position" id='position' class='form-control' placeholder='Tự động tăng' value=product.position)
        button(type='submit' class='btn btn-success mt-5') Cập nhập
  script(src="/admin/js/product.js") 

    
    