extends ../../layouts/default.pug
block main 
  .contrainer-flud  
    .row 
      .col-2 
        div Sider 
      .col-10
        h3(class='m-3') Chi tiết sản phẩm
        .row 
          .col-8.pl-5
            if(product.title) 
              p Tiêu đề: 
                b 
                  span=product.title
            if(product.description) 
              p Mô tả: 
                b 
                  span=product.description
            if(product.price) 
              p Giá: 
                b 
                  span="$" + product.price
            if(product.discountPercentage) 
              p % Giảm giá: 
                b 
                  span=product.discountPercentage
            if(product.stock) 
              p Tồn kho: 
                b 
                  span=product.stock
            if(product.thumbnail) 
              p Ảnh: 
              img(src=product.thumbnail, alt=product.title img-preview class='img-thumbnail')
  script(src="/admin/js/product.js") 


