extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container-fluid
    .row
      .col-3
        div Sider
      .col-9
        .row  
          each item in products 
            div.product-item.col-3
              a.img-wrapper(href='javascript:;')
                img(src=item.thumbnail)
              .info
                .info-price   
                  h5.price.old $#{item.price}
                  h5.price.sale $#{Math.floor(item.price * (1 - item.discountPercentage/100))}
                a(href=`products/${item.slug}`)
                  p.title #{item.title}
                h5.discountPer -#{item.discountPercentage}% 

        
